* {
    box-sizing:border-box;
}

/* ===== ROOT (ONLY GLOBALS) ===== */
:root {
  --blue: rgb(21, 82, 255);
  font-family: "interstate-mono", monospace;
  font-size:1rem;
}



html,
body {
    margin:0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh
    
}

body {
    overflow: hidden;
}

header {
    border-bottom: 2px solid black;
    grid-template-columns: 3fr 7fr;
    display: grid;
}



main {
    display:grid;
    grid-template-columns:3fr 5fr 2fr;
    
    /*
    min-height:100vw;
    height:100%;*/
}

.main-left{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    border-right:2px solid black;
    height:100%;
    min-height: 0;
        
}

.main-middle {
    display:grid;
    min-height: 0;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 3fr 2fr;
}

.onecol {
    grid-template-columns: 1fr;
    line-height: 2.2rem;
}

.main-middle-r {

    display:grid;
    min-height: 0;
    grid-template-rows: 1fr 6fr 1fr;

}

.main-right {
    display:grid;
    min-height: 0;
    border-left: 2px solid black;
}

.main-right-r {
    display:grid;
    min-height: 0;
    border-left: 2px solid black;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-columns: 0.5fr 3fr 0.5fr;
}

.mweight {
    grid-template-rows: repeat(8, 1fr);
}

.top {
    /*height:11rem;*/
    border-bottom:2px solid black;
}

.breadcrumb {
    display:grid;
    grid-template-rows: repeat(8,1fr);
    
}

.container {
    display:grid;
    grid-template-columns:3fr 5fr 2fr;
    min-height: 0;
}

.container-r {
    display: grid;
    grid-template-columns: 3fr 3fr 4fr;
    min-height: 0;
}

.option {
    /* height:2rem; */
    padding:1.5rem;
    border-bottom:2px solid black;
    font-size: 1.3rem;
    grid-column: 2;
}

.text {
    grid-row:3;
    grid-column: 2;
    border-bottom: 2px solid black;
}

/* TEXT */

.title,
.subtitle {
    padding-left: 0.5rem;
}

.title {
    font-weight: bold;
    font-size:1.8rem;
    padding-top: 6rem;
    margin-left: 0.5rem;
}

.subtitle {
    padding-top: 0.5rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.results-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.description,
.qualities {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.qualities {
    line-height: 1.5rem;
}

.item {
    text-align:left;
    border-bottom:2px solid black;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}

.sidebar {
    padding:1.6rem;
    border-bottom:2px solid black;
}

.sidebar-empty {
    padding:1.5rem;
    font-size: 1.3rem;
}

.padding {
    padding: 1.17rem;
}

/* JS */

.step {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    
}

.step:first-child {
    display: grid;
}

.error {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

/* BORDER */

.border-bottom {

    border-bottom: 2px solid black;
}

/* IMAGE */

.image {
    border-bottom: 2px solid black;
}